/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e7eaf6;
}

header {
    background-color: #38598b;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: auto;
    height: 90px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc; /* Add border around the container */
    border-radius: 5px; /* Add border radius to the container */
    background-color: #fff; /* Add background color to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow to the container */
    display: flex;
    justify-content: center; /* Center horizontally */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}


.form-box {
    background-color: #e7eaf6;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 133px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Occupy full width */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #cccccc;
    text-decoration-style: solid;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}




